img:hover{
	border-radius: 50px;
}
ul{
	list-style-type: none;
	background-color: #000814;
	overflow: hidden;
}
}
ul li{
	float: left;
	text-align: center;
	
}
ul li a{
	text-decoration: none;
	color: #ffffff;
	display: block;
	width: 75px;
	padding: 14px 15px;
}
li a:hover{
	background-color: #d3d3d3;
	color: #0b090a;
}
body{
	background-color: #343a40;
}
h1{
	color: #ffffff;
}
p{
	color: #ffffff;
}